
  main{
    width: 100vw;
    height: 70vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .chope{
    border: 15px solid rgb(100, 57, 0);
    border-top: none;
    width: 150px;
    height: 180px;
    margin: auto;
    position: relative;
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
    display: inline-block;
    margin-right: -4px;
  }
  .biere{
    background-color: #F9B804;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 13px; 
    border-bottom-right-radius: 13px; 
    height: 13px;
    transition: all .5s;
  }
  .biere.active{
    height: 90%;
  }
  .mousse{
    position: absolute;
    bottom: 90%;
    left: 0;
    right: 0;
    z-index: 2;
    height: 10%;
  }
  .mousse > div{
    background-color: rgb(255,232,174);
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s;
    opacity: 0;
  }
  .anse{
    border: 15px solid rgb(100, 57, 0);
    border-left: none;
    width: 50px;
    vertical-align: top;
    transform: translateY(30px);
    height: 110px;
    margin: auto;
    position: relative;
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px; 
    display: inline-block;
  }
  
  #texte_erreur{
    font-size:35px;
    font-family:roboto;
    color:white;
    font-weight:bold;
    margin-left:-20px;
    letter-spacing:10px;
  }



  .btn1 {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    color: #f7f5f4;
  }

.btn-xl {
    padding: 1rem 2rem;
}
  
.btn-primary1 {
    color:white;
    background-color: #F9B804;
    border-color: rgb(100, 57, 0);
    border:solid;
    border-color:transparent;
}


@media screen and (max-width: 767px) {
    .btn1 {
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 300px;
        font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
        font-size: 12px;
        color: #f7f5f4;
        margin:auto;
    }
    
    .btn-primary1 {
        background-color: #008ecc;
        border-color: #f7f5f4;
        border:solid;
        border-color:transparent;
    }
  }
