.hover-pointer:hover{
  cursor : pointer;
}

.navbar{
  background-color: rgb(100, 57, 0);
}

#searchbutton{
  color:#e0860b;
  border:#e0860b solid 1px;
}

#searchbutton:hover{
  color:white;
  border:transparent !important;
  background-color: #facf57;
}