.page-link{
    color:white !important;
    background-color:rgb(100, 57, 0) !important;
    border-radius:50px;
    border-color:#e0860b !important;
}

.page-item{
    color:rgb(100, 57, 0) !important;
    border-radius: 50px;
    padding:5px;
}

.li{
    padding:5px;
}